; eAccelerator configuration
extension                       = "/usr/lib/php5/20090626/eaccelerator.so"
eaccelerator.shm_size           = "{{ eaccel_shm_size }}"
eaccelerator.cache_dir          = "/var/cache/eaccelerator"
eaccelerator.log_file           = "/var/log/eaccelerator.log"
eaccelerator.enable             = "1"
eaccelerator.optimizer          = "1"
eaccelerator.check_mtime        = "1"
eaccelerator.debug              = "0"
eaccelerator.filter             = ""
eaccelerator.shm_max            = "0"
eaccelerator.shm_ttl            = "30"
eaccelerator.shm_prune_period   = "0"
eaccelerator.shm_only           = "0"
eaccelerator.compress           = "1"
eaccelerator.compress_level     = "9"
eaccelerator.allowed_admin_path = "/var/www"
