##
# Ansible provided setup. See https://github.com/fourkitchens/server-playbooks.
##

<VirtualHost *:80>
	ServerAdmin {{ apache_server_admin }}

	DocumentRoot /var/dev

	<Directory />
		Options FollowSymLinks
		AllowOverride None
	</Directory>

	<Directory /var/dev/>
		Options Indexes FollowSymLinks MultiViews
		AllowOverride All
		Order allow,deny
		allow from all
	</Directory>

	ErrorLog /var/log/apache2/error.log

	# Possible values include: debug, info, notice, warn, error, crit,
	# alert, emerg.
	LogLevel warn

	CustomLog /var/log/apache2/access.log combined

</VirtualHost>