## Ansible provided setup ##
# This server allows a wildcard virtualhost, so for example, going to the address
#
# http://pete.training.example.com 
#
# ... will set the webroot for the request to /home/pete/www/training
#
<VirtualHost *:80>
	ServerAdmin {{ apache_server_admin }}
	ServerAlias {{ apache_server_alias }}

	VirtualDocumentRoot /home/%-4/www/%-3

	<Directory /home/*/www/*>
		Options Indexes FollowSymLinks MultiViews
		AllowOverride All
		Order allow,deny
		allow from all
	</Directory>

</VirtualHost>
